
.button-1 {
    background: #1c82b0;
    border-radius: 5px;
    color: #fff;
    border: 0px solid #ccc;
    font-family: Arial;
    padding: 10px 20px;
}

    .button-1:hover {
        background: #66B8DD;
        cursor: pointer;
    }


.ddlSyl {
    background: #1c82b0;
    border-radius: 5px;
    color: #fff;
    border: 0px solid #ccc;
    font-family: Arial;
    padding:5px;
}

    .ddlSyl:hover {
        background: #66B8DD;
        cursor: pointer;
    }


.imgRadius {
    border-radius: 50px;
}

.divDefault {
    font: 20px;
    color: black;
    box-shadow: 0px 0px 40px #ccc;
    width: 45%;
    font-size: 18px;
    text-align: left;
    padding: 10px 20px 10px;
}

.check {
    background-color: red;
}

.imgRight {
    float: right;
}

.txtbox {
    border: 0px solid;
    border-bottom: 1px solid;
}


.header {
    width: 100%;
    height: 60px;
    border: 0px solid;
    box-shadow: 0px 0px 40px #ccc;
    margin-bottom: 40px;
    background: #fff;
}


.header_right {
    width: 20%;
    height: 30px;
    padding: 8px;
}

#rght {
    float: right;
}



.header_right li {
    list-style: none;
    display: inline;
    float: right;
    margin-right: 40px;
    padding-top: 10px;
}

    .header_right li a {
        text-decoration: none;
        color: inherit;
        padding: 5px;
    }


.imgdiv {
    float: left;
    width: 210px;
}

.crate-view {
    float: left;
    padding: 20px;
}

    .crate-view a {
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
    }


.tdWidth {
    width: 120px;
}

.LoginR {
    font-weight: bold;
    text-decoration: none;
}

.LoginL {
    font-weight: bold;
}

.LoginR:hover {
    color: orange;
}

.LoginL:hover {
    color: orange;
}


#tb {
    padding: 20px 20px 20px 20px;
}


.imgRadius {
    border-radius: 30px;
    border: 1px;
}

    .imgRadius:hover {
        outline: 2px solid #ccc;
        border-radius: 30px;
    }

.LblQuesAlign {
    text-align: center;
}


.divGrid1 {
    margin-left: 570px;
    margin-right: 500px;
    background-color: white;
    width: 17%;
    border: none;
}


#divProfile {
    float: right;
    padding: 20px;
}


.divQuestionUpload {
    margin: 5% 30% 1% 15%;
    width: 70%;
}

.divImageUpload {
    width: 320px;
    border: 0px solid #000;
}

#divQuestion {
    width: 900px;
    height: 240px;
    margin-left: 50px;
    text-align: center;
}

.imgone {
    margin-left: 10px;
    float: left;
}

.opttext {
    width: 120px;
    display: block;
    float: left;
    overflow:hidden;

}

#questionImage {
    float: left;
    width: 18%;
    margin-left: 30%;
}

#questionOption {
    float: left;
    width: 50%;
}

#lblQues {
    text-align: center;
    width: 100px;
}

.soundImage1 {
    float: left;
    width: 33%;
}

.soundImage2 {
    float: left;
    width: 33%;
}

.soundImage3 {
    float: left;
    width: 33%;
}

.soundImage4 {
    float: left;
    width: 33%;
}

.optionRadio {
    float: right;
    width: 85%;
}
